<div class="about-container">
  <h1>Welcome to Twisty Wrenches</h1>
  <p>
    <strong>Twisty Wrenches</strong>, is a cutting-edge web-based solution designed to help aircraft maintenance shops streamline their operations. 
    <strong>TW</strong> enables you to efficiently manage work in progress, maintain detailed job histories, and create required parts lists for each work order. 
    With <strong>TW</strong>, you can track the time spent on each job, by each mechanic, monitor the status of ongoing work, and document inspections performed.
  </p>
  <p>
    <strong>Twisty Wrenches</strong> integrates seamlessly with QuickBooks for generating invoices. It also leverages the FAA's ARLA data to quickly populate critical 
    information about aircraft, including the owner's name and address, as well as the make, model, and year of the aircraft, which saves time and keeps
    your mechanics turning wrenches instead of scribbling on clipboards and doing paperwork.  
  </p>
  <p>
    Developed with a "Mobile First" and "Responsive Design" approach, <strong>TW</strong> ensures a smooth and intuitive user experience across all devices, 
    from desktops to tablets to smartphones.  <strong>TW</strong> was designed and developed by a software engineer with over 35 years of experience...  And
    he's a pilot, with mechanical experience, as well.
  </p>
  <footer class="about-footer">
    <hr />
    <p>&copy; 2025 Twisty Logic. All rights reserved.</p>
  </footer>
</div>