<div class="about-container">
  <h1>Welcome to Thunder</h1>
  <p>
    <strong>Thunder</strong>, is a cutting-edge web-based solution designed to help aircraft maintenance shops streamline their operations. 
    Thunder enables you to efficiently manage work in progress, maintain detailed job histories, and create required parts lists for each task. 
    With Thunder, you can track the time spent on each job by mechanic, monitor the status of ongoing work, and document inspections performed.
  </p>
  <p>
    Thunder integrates seamlessly with QuickBooks for generating invoices and leverages the FAA's ARLA data to quickly populate critical 
    information about aircraft, including the owner's name and address, as well as the make, model, and year of the aircraft.
  </p>
  <p>
    Developed with a "Mobile First" and "Responsive Design" approach, Thunder ensures a smooth and intuitive user experience across all devices, 
    from desktops to smartphones.
  </p>
  <footer class="about-footer">
    <hr />
    <p>Developed by Martin Turner</p>
    <p>&copy; 2025 Thunder. All rights reserved.</p>
  </footer>
</div>