.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6d4d4;
  padding: 10px;
}

.navbar--title {
  margin-left: 10px;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.navbar-menu li a:hover {
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-auth {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-auth li {
  margin-right: 20px;
}

.navbar-auth li button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.navbar-auth li button:hover {
  text-decoration: underline;
}

.navbar-logo {
  height: 40px;
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.menu-button {
  display: none;
}

@media (max-width: 600px) {
  .menu-button {
    display: block;
  }

  mat-toolbar-row.navbar {
    display: none;
  }
}