<!-- filepath: src/app/components/menu/menu.component.html -->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Thunder</span>
  <span class="spacer"></span>
  <img src="/TAS_Logo_150.jpg" alt="Logo" class="navbar-logo">
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">Home</a>
      <a mat-list-item routerLink="/about" (click)="sidenav.close()">About</a>
      <ng-container *ngIf="!(auth.isAuthenticated$ | async); else loggedIn">
        <a mat-list-item (click)="auth.loginWithRedirect(); sidenav.close()">Login</a>
      </ng-container>
      <ng-template #loggedIn>
        <a mat-list-item (click)="auth.logout({ logoutParams: { returnTo: 'http://localhost:4200' } }); sidenav.close()">Logout</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar-row class="navbar">
      <nav>
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/about">About</a>
      </nav>
      <span class="spacer"></span>
      <div>
        <ng-container *ngIf="!(auth.isAuthenticated$ | async); else loggedIn">
          <a mat-button (click)="auth.loginWithRedirect()">Login</a>
        </ng-container>
        <ng-template #loggedIn>
          <a mat-button (click)="auth.logout({ logoutParams: { returnTo: 'http://localhost:4200' } })">Logout</a>
        </ng-template>
      </div>
    </mat-toolbar-row>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
