/* You can add global styles to this file, and also import other style files */

body {
  font-family: Tahoma, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.navbar-menu li a:hover {
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-auth {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-auth li {
  margin-right: 20px;
}

.navbar-auth li button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.navbar-auth li button:hover {
  text-decoration: underline;
}

.navbar-logo {
  margin-left: 10px;
  height: 60px; /* Adjust the height as needed */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
